.page {
  color: #fff;
  background-color: #000;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-style: normal;
  box-sizing: border-box;
  margin: 0 auto;
  padding: 0;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
}
